include *.md
recursive-include LaueTools/icons *
recursive-include LaueTools/scripts *
recursive-include LaueTools/LaueImages *
recursive-include LaueTools/Examples *
ecursive-include LaueTools/Documentation *
recursive-include LaueTools/Daxm *
recursive-include LaueTools/FileSeries *
recursive-include LaueTools *
# Include output-free notebooks (if any)
recursive-include LaueTools/notebooks/*.ipynb
prune */__pycache__
