include *.md
recursive-include LaueTools/icons *
recursive-include LaueTools/LaueImages *
recursive-include LaueTools/Examples *
recursive-include LaueTools/Documentation *
recursive-include LaueTools/Daxm *
recursive-include LaueTools/FileSeries *
recursive-include LaueTools *
prune */__pycache__
